version: "3.9"

services:
    edge-impulse-audio-recognition:
      image: hub.foundries.io/${FACTORY}/edge-impulse-audio-recognition:latest
      restart: unless-stopped
      network_mode: "host"
      privileged: true
      stdin_open: true   # same as -i
      tty: true          # same as -t
      group_add:
        - "audio"
      devices:
        - "/dev/snd:/dev/snd"
      volumes:
        - /etc/localtime:/etc/localtime:ro
        - /run/dbus:/run/dbus:ro
        - /run/secrets:/run/secrets:ro
        - /var/local/assets:/var/local/assets
        - /etc/systemd/system:/etc/systemd/system
        - /home/arduino/Desktop:/home/arduino/Desktop
        - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
      entrypoint: ["/run-audio.sh"]
      environment:
        THRESH: "0.70"
        DEBUG: "0"
        DEBOUNCE_SECONDS: "0.5"
        SELECT_COOLDOWN_SECONDS: "1.0"
        SELECT_SUPPRESS_SECONDS: "8.0"
        PA_ALSA_PLUGHW: "1"
        PA_ALSA_CARD: "1"
        PA_ALSA_DEVICE: "0"
        TOKEN: "723906223bb329451be25f4d96c242a6e63754e4"
        FACTORY: ${FACTORY}
        DBUS_SYSTEM_BUS_ADDRESS: "unix:path=/run/dbus/system_bus_socket"


# other configuration...
# fioctl devices config set deviceX light-config==./light-config -f demo-ai