version: "3.9"

services:
  arduino-matrix-webui:
    image: hub.foundries.io/${FACTORY}/arduino-matrix-webui:latest
    restart: unless-stopped
    network_mode: "host"
    privileged: true
    stdin_open: true     # -i
    tty: true            # -t
    devices:
      - "/dev/gpiochip0:/dev/gpiochip0"
      - "/dev/gpiochip1:/dev/gpiochip1"
      - "/dev/gpiochip2:/dev/gpiochip2"
    volumes:
      - /var/run/arduino-router.sock:/var/run/arduino-router.sock
      - /etc/localtime:/etc/localtime:ro
